.breadcrumb-container {
  margin: 0;
  margin-bottom: 0.5rem;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.25rem;
  font-size: 0.8rem;
  color: #666;
}

.breadcrumb-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  a {
    color: #666;
    text-decoration: none;
    
    &:hover {
      color: var(--secondary);
    }
  }
  
  span {
    color: #666;
  }
  
  .breadcrumb-spacer {
    margin: 0 0.4rem;
    color: #999;
  }
}
